{% extends "Extensions/Base.htm" %}
{% load static %}
{% block title %}
    Updating Password
{% endblock %}
{% block style %}
<style>
    .asteriskField{
        display: none;
    }
    .form-group{
        margin-bottom: 1em;
    }
</style>
    <style>
        li{
            content: icon;
        }
        #id_old_password{
            border-color: rgb(216, 167, 6);
            font-style: oblique;
        }
        #id_new_password1{
            border-color: rgb(100, 175, 14);
            font-style: oblique;
        }
        #id_new_password2{
            border-color: rgb(11, 79, 206);
            font-style: oblique;
        }
    </style>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center card-header mb-2 bg-dark text-success" style="border-radius: 15px; margin-bottom: 15px;">
                Change Password
            </h1>

            <!----div class="alert alert">

            </div-->
            <form method="post">
                {%  csrf_token %}
                {{ form|crispy }}
                <div class="d-grid mt-2">
                    <button class="btn btn-outline-secondary">
                        Change Password
                    </button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}