{% extends "Extensions/Base.htm" %}
{% load static %}
{% block title %}
    Hive Registration
{% endblock %}
{% block style %}
        <style type="text/css">
                .reg-box{
                        margin-top: 5em;
                }
        </style>
{% endblock %}
{% block content %}
<div class="body container">
    <!--Registration Box housing-->
    <div class="reg-box">
        
            <!--Error Div(Error Display)-->
            <div class="error">
                {% if error %}
                        <style type="text/css" >
                                .text-center{
                                        border-radius: 5px;
                                       /*height: 1.2cm;*/
                                }
                        </style>
                        <div class="d-grid text-center alert-warning text-secondary">
                                {{error}}
                        </div>
                {% endif %}
            </div>
            <form class="register" method="post">
                {% csrf_token %}
                <label for="username">Username</label><br />
                <input name="uname" class="form-control"  autocomplete="false" type="text"  id="username" required="required"  /><br />
                <label for="email">Email</label><br />
                <input name="email" class="form-control"  autocomplete="false" type="email" id="email"   requires="required"  /><br />
                <label for="password">Password</label><br />
                <input name="pwrd" class="form-control"  autocomplete="false" type="password" id="password" required="required"/><br />
                <div class="d-grid">
                        <button class="btns btn btn-outline-danger disabled" type="submit">Fill in all box</button>
                </div>
            </form>
        </div>
    </div>
    <style type="text/css">
            .form-control{
                    border-color: #53cae8;
            }
    </style>
    <script type="text/javascript" charset="utf-8">
            document.querySelector(".register").onchange = function(e){
                    username = document.getElementById("username").value;
                    password = document.getElementById("password").value;
                    email = document.getElementById("email").value;
                    if (username === "" || password === "" || email === ""){
                           $(".btns").html("");
                           $(".btns").html("Fill in all box");
                           $(".btns").css("border-color","red");
                           $(".btns").addClass("disabled");
                           $(".btns").addClass("btn-outline-danger");
                    }else{
                            $(".btns").removeClass("disabled");
                            $(".btns").removeClass("btn-outline-danger");
                            $(".btns").addClass("btn-outline-secondary");
                            $(".btns").html("");
                            $(".btns").html("Signup");
                            $(".btns").css("border-color","gray");
                    }
            }
    </script>
<!--button class="btn btn-primary">
<span class="spinner-border spinner-border-sm"></span>
</button>
<button class="btn btn-primary">
<span class="spinner-border spinner-border-sm"></span>
  Loading..
</button-->
<center>
<div class="d-grid mt-3">
        <button class="btn btn-outline-secondary text-dark" id="display_popup" >Login</button>
</div>
<div id ="popup_box" >
<input type ="button" id="cancel_button" value = "X">
<p class="container">
        <div class="error">
                {% if loginerror %}
                        <style type="text/css" >
                                .text-center{
                                        border-radius: 5px;
                                       /*height: 1.2cm;*/
                                }
                        </style>
                        <div class="d-grid text-center alert-warning text-secondary">
                                {{loginerror}}
                        </div>
                {% endif %}
        </div>
        <form action="{% url 'account:signin' %}" method="post" class="login container">
                {% csrf_token %}
                <label for="uname">Username</label><br />
                <input class="form-control" required type="text" name="uname" id="unsame"  /><br />
                <label for="pwrd">Password</label><br />
                <input class="form-control" required type="password" name="pwrd" id="pawrd" />
                <div class="d-grid">
                        <button class="btnss btn btn-outline-danger mt-2 disabled" type="submit">Login</button>
                </div>
        </form>
</p>
<div class="d-grid container mb-2 ">
        <a class="btn btn-outline-primary mt-2 text-decoration-none" href="submit">Forgotten Password</a>
</div>
</div>
</center>
    
    <style type="text/css" media="all">
#display_popup
{
font-size :20px ;
cursor :pointer ;
}
#popup_box
{
visibility: hidden ;
display : none;
width :90%;
background-color: rosybrown;
position:fixed ;
left :5%;
top :13%;
border-radius :10px ;
border :2px solid grey ;
box-shadow :0px 0px 10px 0px grey ;
font-family :helvetica ;
}
#popup_box #cancel_button
{
float :right ;
margin-top :4px ;
margin-bottom :4px;
margin-right : 5px;
background-color :grey ;
border :none ;
color :white ;
padding : 5px;
border-radius :1000px ;
width :25px ;
border :1px solid #424242;
box-shadow :0px 0px 10px 0px grey ;
cursor :pointer ;
}
#popup_box #info_text
{
padding : 10px;
clear :both ;
background-color :white ;
color :#6E6E6E ;
}
#popup_box #close_button
{
margin :0px ;
padding : 0px;
width :70px ;
height :30px ;
line-height :30px ;
font-size :16px ;
background-color :grey ;
color :white ;
border :none ;
margin-bottom :10px ;
border-radius :2px;
cursor :pointer ;
}
    </style>
    <script type="text/javascript" charset="utf-8">
            document.querySelector(".login").onchange = function(event){
                    username = document.getElementById("unsame").value;
                    password = document.getElementById("pawrd").value;
                    if (username === "" || password === ""){
                           $(".btnss").html("");
                           $(".btnss").html("Fill in Login Credatials");
                           $(".btnss").css("border-color","red");
                           $(".btnss").addClass("disabled");
                           $(".btnss").addClass("btn-outline-danger");
                    }else{
                            $(".btnss").removeClass("disabled");
                            $(".btnss").removeClass("btn-outline-danger");
                            $(".btnss").addClass("btn-outline-primary");
                            $(".btnss").html("");
                            $(".btnss").html("Login");
                            $(".btnss").css("border-color","gray");
                    }
            }
            $(document). ready(function(){
$("#display_popup" ).click(function(){
showpopup();
});
$("#cancel_button" ).click(function(){
hidepopup();
});
$("#close_button" ).click(function(){
hidepopup();
});
});
function showpopup()
{
$("#popup_box" ).fadeToggle();
$("#popup_box" ).css({"visibility" :"visible" ,"display" :"block" });
}
function hidepopup()
{
$("#popup_box" ).fadeToggle();
$("#popup_box" ).css({"visibility" :"hidden" ,"display" :"none" });
}
    </script>
{% endblock %}