{% extends 'Extensions/Base.htm' %}
{% block title %}
    Do You Want To Delete {{ post.title }}
{% endblock  %}
{% block content %}
    <div class="container">
        <div class="text-center text-danger " style="color: antiquewhite;">
           Do you really want to delete "{{ post.title }}" 
        </div>
        <form class="delete text-center">
            {% csrf_token %}    
            <button type="submit" class="float-start btn btn-danger">
                Delete
            </button>
        </form>
        <button onclick="history.back()" class="text-center float-end btn btn-secondary">
            Cancle
        </button>
    </div>
    <script>
        $(document).on('submit','.delete', function(e){
            e.preventDefault();
            $.ajax({
                type:"POST",
                url:"{% url 'dashboard:deletepost' pk=post.pk %}",
                data:{
                    csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),
                },
                success:function(data){
                //	if document.querySelector(".body").innerHTML == data;
                    if (data == "deleted"){
                        alert("Comment Deleted");
                        history.back();
                    }
                    else{
                        alert("Sorry An Error Happened ");
                    }
                    //document.querySelector(".title").value += "Hive";
                }
            });
        }); 
    </script>
{% endblock  %}